@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
  }

html{
    font-family: 'Roboto', sans-serif;
}

.container{
    display:grid;
    grid-template-rows: auto 5fr;
}

.header{
    display:flex;
    justify-content: center;
    padding:30px;
    background-color: rgba(228, 225, 225, 0.795);
}

.library{
    display:flex;
    flex-wrap:wrap;
    flex-direction: row;
    justify-content: space-around;
    gap:140px;

}

.main{
    display:flex;
    flex-direction: column;
}
.buttonContainer{
    display:flex;
    justify-content: center;
    padding:30px;

}
.bookCard{
    background-color: rgb(0, 51, 153);
    color:white;
    padding:20px;
    border-radius: 14px;
    display:flex;
    flex-direction: column;
    min-width:200px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    
}

#addBook{
    position: fixed; /* Sit on top of the page content */
    display: none; /* Hidden by default */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5); /* Black background with opacity */
    z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer; /* Add a pointer on hover */
   
}

.bookForm{
    position: fixed; /* or absolute */
    top: 40%;
    left: 40%;
    background-color: white;;
    height:300px;
    width:450px
}

form{
    padding:20px;
    display:grid;
    gap:10px;
    grid-template-rows: 40px 40px 40px;
    grid-template-columns: 100px 200px;
}

.cardAuthor{
    padding:4px;
    font-size: 14px;
    font-weight: 700;
    font-style: italic;
    
}

.cardTitle{
    padding:4px;
    font-size: 15px;
    font-weight: 700;
}

.cardPages{
    padding:4px;
    font-size: 12px;
    font-weight: 700;
}

.readButton{
    height:30px;
    width:100px;
    margin:10px;
    font-size: 14px;
    font-weight: 700;
}
.removeButton{
    height:30px;
    width:100px;
    margin:10px;
    font-size: 14px;
    font-weight: 700;
}

#addBookOpen{
    background-color: green;
    border-radius: 10px;
    height:30px;
    width:100px;
    border: none;
    color:white;
    font-size: 14px;
    font-weight: 800;
}

#addBookOpen:hover{
    background-color:rgb(0, 51, 153);
    cursor: pointer;
}